@model Cinema.Models.ViewModels.ChooseCinemaNavigationBarViewModel
@foreach (var cinema in Model.Cinemas)
    {
        <li><a href="@Url.Action("ChangeCinemaLocationSession","Home", new { CinemaFullName = cinema.FullName })" id="cinemaLocation">@cinema.FullName</a></li>
    }

