@model Cinema.Models.ViewModels.ChooseCinemaNavigationBarViewModel
@foreach (var cinema in Model.Cinemas)
    {
        <li><a onclick="peep(this)" id="cinemaLocation">@cinema.FullName</a></li>
    }

